.logo-container {
  z-index: 0;
  width: 600px;
  height: 609px;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 20%;
  bottom: 0;
  left: auto;
  margin: auto;

  svg {
    width: 100%;
    height: auto;
    bottom: 0;
    transform: rotateZ(30deg) !important;
  }

  .solid-logo {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
    width: 100%;
    opacity: 0;
    transform: rotateZ(30deg) !important;
    z-index: 1;
  }
  img {
    display: none;
  }
}

.svg-container {
  stroke: #ffd700;
  stroke-width: 10;
}
#canvas1 {
  background: rgba(51, 30, 101, 0);
  position: absolute;
}

@media screen and (max-width: 1200px) {
  .container.home-page {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  .logo-container {
    position: relative;
    width: 100px;
    height: auto;
    top: 50px;
    right: 0;
    box-sizing: border-box;
    margin: auto;
    left: 0;
  }

  .logo-container svg {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
  }
}
